:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0% 30% 0% 30%;
  position: absolute;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

}

.containerHome {
  width: 100%;
  
}

.logoHome{
  text-align: center;
}
/* Login */
.logoLogin{
  width: 100%;
  height: 100%;
}
p {
  color: white;
}

h2 {
  font-size: 1.5em;
  line-height: 1.1;
  color: white;
  margin-top: 0%;
}

#email {
  display: block;
  width: 100%;
  height: 2em;
  background: white;
  color: black;

}

#password {
  margin-block-start: 3%;
  display: block;
  width: 100%;
  height: 2em;
  background: white;
  color: black;
}

.login {
  margin-block-end: 10%;
  font-weight: bold;
}

/* Universal aun */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #BB6748;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-block-end: 5%;
  width: 100%;

}

button:hover {
  border-color: #ecf721;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (min-width: 768px)  {
  :root {
    display: block;
    color: #213547;
   
    
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #BB6748;
    color: white;
    position: relative;
    width: 100%;
    height: 2.5em;
    margin-block-end: 3%;
  }
 
}
