/* Home */

.admin-home {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #faebd7;
}

.contentAdmin {
  flex: 2;
  padding: 2em;
}

/* Workers List */
.list {
  text-align: center;
}

.WorkerList {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #faebd7;
}

.contentList {
  flex: 1.5;
  padding: 2em;
}

.edit {
  background-color: green;
  margin: 0;
  width: 100%;
  color: white;
  height: 2.5em;
  border: none;
  border-radius: 5px;
}

.admin-message {
  font-size: 36px;
  margin-bottom: 20px;
  color: black;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.conteinerProducts {

  display: inline-block;
  width: 40%;
  /* Puedes ajustar el ancho deseado */
  margin: 10px;
  background-color: #BB6748;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;

}

.imgProducts {
  width: 100%;
  height: 6em;
}


/* workers add */

.form-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #faebd7;
}

.contentAdd {
  flex: 1.5;
  padding: 2em;
}

.caja {
  flex: 1.5;
  padding: 3em;
  margin: 10% 15% 0% 15%;
  background-color: antiquewhite;
  border-radius: 5px;
  border: 5px solid orange
}

.titleAdd {
  color: black;
}

.formAdd {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}


.form-container form {
  display: flex;
  flex-direction: column;
 
  margin-bottom: 10px;


}

.id,
.email,
.password,
.role {
  width: 100%;
  height: 3em;
  border-radius: 5px;
}

.add {
  margin: 0;
  width: 100%;
  height: 2.5em;
  border: none;
  border-radius: 5px;
  background-color: #4e2626;
  color: white;
}

/* productos list */
.ProductList {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #faebd7;
}

.contentListProduct {
  flex: 1.5;
  padding: 2em;
}

.edit {
  background-color: green;
  margin: 0;
  width: 100%;
  color: white;
  height: 2.5em;
  border: none;
  border-radius: 5px;
}

.delete {
  background-color: red;
  margin: 0;
  width: 70%;
  color: white;
  height: 2.5em;
  border: none;
  border-radius: 5px;
}

.deleteProduct {
  background-color: red;
  margin: 0;
  width: 100%;
  color: white;
  height: 2.5em;
  border: none;
  border-radius: 5px;
}

.admin-message {
  font-size: 36px;
  margin-bottom: 20px;
  color: black;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.conteinerProducts {
  display: inline-block;
  width: 40%;
  /* Puedes ajustar el ancho deseado */
  margin: 10px;
  background-color: #BB6748;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;

}

.imgProducts {
  width: 100%;
  height: 3em;
}

.listProducts {
  text-align: center;
}


/* Products add */

.nameProducts,
.type,
.price,
.image {
  width: 100%;
  height: 3em;
  border-radius: 5px;
}

.addproduct {
  width: 100%;
  height: 2.5em;
  border: none;
  border-radius: 5px;
  background-color: #4e2626;
  color: white;
}
 .formAddProduct{
  justify-content: space-between;
 }