.pending {
    width: 50%;
}
  
.delivered {
    width: 50%;
}

.productsPending {
  background-color: #6D2B02 ;
  border-radius: 10px;
  margin-block-start: 5%;
}

.productsReady {
  margin-block-start: 20%;
  background-color: #BB6748;
  width: 100%;
  display: block;
  

}

/* Estilos para la lista de pedidos */
ul {
    list-style-type: none;
    padding: 0;
    background-color: #BB6748;
  }

  .pedidosdelivered{
    border-radius: 10px;
    
  }
  
  /* Estilos para cada caja de pedido */
  .pedidos {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #BB6748;
  }
  .products { 
    width: 100%;
    background-color: black ;
    border-radius: 10px;
    margin-block-start: 10%;
   
  }
  /* Estilos para el botón Send */
 .buttonSend {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    width: 35%;
  }
  
  /* Estilos para el botón Cancel */
  .buttonCancel {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 35%;
  }
  
  