.menu-vertical {
  flex: 0.5;
  background-color: #BB6748;
  height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0;
}

.cajaMenu {
  background-color: #BB6748;
}

li {
  padding: 10px;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

li:hover {
  background-color:antiquewhite;
  /* Color de fondo al pasar el mouse */
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: red;
  /* Color de texto al pasar el mouse */
}

.logout:hover {
  background-color:antiquewhite
  /* Color de fondo al pasar el mouse */
}

.workersList,
.workersAdd,
.productList,
.productAdd {
  color: black;
}

.subMenu {
  background-color:#BB6748;
}

.menu-vertical-delivered {
  flex: 0.3;
  background-color: #BB6748;
  height: 100vh;
}
