/* Estilos de la tabla */
.table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid orange ;
    margin-top: 5%;
  }
.encabezado {
    align-items: center;
}
  
  /* Estilos de las celdas de encabezado */
  .table th {
    border-bottom: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  /* Estilos de las celdas de contenido */
  .table td {
    text-align: center;
    padding: 8px;
  }
  
  /* Estilos para el título de la tabla */
  .TitleTable {
    font-weight: bold;
  }
  
  /* Estilos para el contenido de la tabla */
  .contentTable {
    vertical-align: top;
  }
  